.container-fluid .col-sm-6{
    padding: 0;
}

header{
    color: white; text-align: right; 
    margin: 0;
}
header.ind{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/ba1.jpg');
    background-repeat: no-repeat; background-size: 100% 115%; background-position: center;
}

.containerGris{
    background-color: #383838;
}
footer{
    background-color: rgb(32,81,109);
}
.rounded-pill{width:6rem;}

.navbar-dark .navbar-nav .h6v{
    color: rgb(0, 140, 0);
}
.navbar-dark .navbar-nav .h6v:hover{
    color: rgb(198, 255, 198);
}
.navbar-dark .navbar-nav .h6v:focus{
    color: rgb(0, 180, 0);
}

.bg-warning{
    color: black;
}


.mrgT1{
    margin: 1% 0 0 0;
}
.mrgT1Bm{
    margin: 1% 0 0.5% 0;
}
.mrgB1{
    margin: 0% 0 1% 0;
}
.padT1B1{
    padding: 1% 0 1% 0;
}
.boxPpal{
    padding: 13% 0 10% 0;
    text-align: right; margin: 0;
}
.boxPpal p{
    line-height: 145%;
    font-size: 0.9rem; 
}

.txOradores{
    line-height: 200%;
    font-size: 0.6rem; 
}

.pad5per{
    padding: 5%;
}

.txReduc{
    padding-left: 0;
}
.txReduc p{
    font-size: 0.7rem; 
}
.txReduc button{
    font-size: 0.7rem; 
    text-align: center;
}

.foot{
    text-align: center;
}
.foot a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.foot a:hover{
    color: aqua;
}