header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/ba1.jpg');
    background-repeat: no-repeat; background-size: 100% 115%; background-position: center;
    color: white; text-align: right; 
    margin: 0;
}

.containerGris{
    background-color: #383838;
    margin: 0; padding:0;
}

.navbar-dark .navbar-nav .h6v{
    color: rgb(0, 140, 0);
}
.navbar-dark .navbar-nav .h6v:hover{
    color: rgb(198, 255, 198);
}
.navbar-dark .navbar-nav .h6v:focus{
    color: rgb(0, 180, 0);
}