.container-fluid .col-sm-6{
    padding: 0;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/ba1.jpg');
    background-repeat: no-repeat; background-size: 100% 115%; background-position: center;
    color: white; text-align: right; 
    margin: 0;
}

.containerGris{
    background-color: #383838;
}

.rounded-pill{width:6rem;}

.navbar-dark .navbar-nav .h6v{
    color: rgb(0, 140, 0);
}
.navbar-dark .navbar-nav .h6v:hover{
    color: rgb(198, 255, 198);
}
.navbar-dark .navbar-nav .h6v:focus{
    color: rgb(0, 180, 0);
}

.bg-warning{
    color: black;
}


.mrgT1{
    margin: 1% 0 0 0;
}
.mrgT1Bm{
    margin: 1% 0 0.5% 0;
}
.mrgB1{
    margin: 0% 0 1% 0;
}
.padT1B1{
    padding: 1% 0 1% 0;
}
.boxPpal{
    padding: 15% 0 10% 0;
    text-align: right; margin: 0;
}
.boxPpal p{
    line-height: 175%;
}

.txOradores{
    line-height: 175%;
    font-size: 0.8rem; 
}